//Created by sunjunyi on 6/8/16.

doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title #{title}
        include ./includes/head.html
        block link
    body
        include ./includes/header
        block content
        include ./includes/footer
